/* ==========================================================================
   #ANIMATIONS-TRANSITIONS-VARIABLES
   ========================================================================== */



@mixin button-change-color($start-background-color,$to-background-color,$start-color,$to-color) {
  @keyframes button-change {
    from {
      background-color: $start-background-color;
      color: $start-color;
    }
    to {
      background-color: $to-background-color;
      color: $to-color;
    }
  }
}



