.o-about-trainer-bottom-dots{


  display: grid;



  &-desktop{

    display: grid;

    justify-self: center;

    @include for-phone-only{

      display: none;
    }
  }

  &-mobile{

    display: none;

    @include for-phone-only{

      display: block;


    }

  }



}