/* ==========================================================================
   #CONFIG-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #ANIMATIONS-TRANSITIONS-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #SPACING-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* ==========================================================================
   #Z-LAYERS-VARIABLES
   ========================================================================== */
@import '../../node_modules/normalize.css/normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.is-blocked, body.is-modal-open, body.is-gradpanel-open {
  overflow: hidden;
}
body.is-nav-mobile-open {
  overflow: hidden;
}
@media (min-width: 61.25em) {
  body.is-nav-mobile-open {
    overflow: visible;
  }
}

html {
  box-sizing: border-box;
}

a {
  transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  color: #0047b6;
}
a:hover, a:active, a:focus {
  color: #000;
}

/* ==========================================================================
   #CONTAINER-OBJECT
   ========================================================================== */
.o-container {
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 46.25em) {
  .o-container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 61.25em) {
  .o-container {
    padding-right: 24px;
    padding-left: 24px;
  }
}

/* ==========================================================================
   #WRAPPER-OBJECT
   ========================================================================== */
.o-wrapper {
  flex: 1 0 auto;
  overflow: visible;
}

/* ==========================================================================
   #MODAL-OBJECT
   ========================================================================== */
.o-modal {
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  position: fixed;
  z-index: 1004;
  left: 50%;
  top: 50%;
  display: none;
  width: 600px;
  max-width: 90%;
  max-width: calc(100% - 24px);
  max-height: 90%;
  max-height: calc(100% - 24px);
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate(-50%, -200vh);
  transform: translate(-50%, calc(-100vh - 105%));
  will-change: transform;
  pointer-events: none;
  -webkit-overflow-scrolling: touch;
}
@supports (pointer-events: auto) {
  .o-modal {
    display: block;
    pointer-events: none;
  }
}
@media (min-width: 46.25em) {
  .o-modal {
    max-width: calc(100% - 48px);
    max-height: calc(100% - 48px);
  }
}
@media (min-width: 61.25em) {
  .o-modal {
    max-width: calc(100% - 64px);
    max-height: calc(100% - 64px);
  }
}
.o-modal.is-active {
  transform: translate(-50%, -50%);
  pointer-events: auto;
}

/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
.c-navbar {
  display: flex;
  grid-template-columns: auto auto auto;
  justify-content: flex-start;
  width: 100%;
  height: 74px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}
@media (max-width: 599px) {
  .c-navbar {
    justify-content: space-between;
    display: grid;
  }
  .c-navbar ul {
    display: none !important;
  }
  .c-navbar .c-search {
    display: none;
  }
}
.c-navbar-logo-wrapper {
  margin-left: 75px;
  margin-right: auto;
  display: flex;
}
@media (max-width: 599px) {
  .c-navbar-logo-wrapper {
    display: grid;
    justify-self: center;
    grid-template-columns: auto auto;
    justify-items: center;
    margin-left: 20px;
  }
}
.c-navbar-logo-wrapper .c-triangle {
  align-self: center;
}
.c-navbar-logo-wrapper .c-logo {
  display: grid;
  align-self: center;
}
.c-navbar .c-search {
  margin-right: 25px;
}
.c-navbar .c-login-button {
  background-color: #FF9100;
  color: white;
  display: grid;
  align-self: center;
  margin-right: 75px;
  padding: 10px 22px;
  width: 82px;
  height: 36px;
  border: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}
@media (max-width: 599px) {
  .c-navbar .c-login-button {
    margin: 0;
  }
}
.c-navbar ul {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  align-content: flex-end;
}
.c-navbar ul li {
  position: static;
  left: 12px;
  right: 12px;
  top: calc(50% - 16px/2);
  padding: 29px 12px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  color: #565656;
  flex: none;
  order: 0;
  align-self: center;
  margin-right: 25px;
}
.c-navbar ul li:hover {
  color: #FF9100;
}
.c-navbar-buttons-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-self: end;
}

.c-navbar-burger {
  display: none;
}
@media (max-width: 599px) {
  .c-navbar-burger {
    display: grid;
    align-self: center;
    margin-left: 24px;
  }
}

/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
.c-jumbotron {
  width: 100%;
  height: 302px;
  background: #44A9F8;
  display: grid;
  align-self: auto;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}
.c-jumbotron .c-label {
  padding: 4px 8px;
  width: 89px;
  height: 22px;
  justify-self: center;
  background: #FFC20A;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 599px) {
  .c-jumbotron .c-label {
    margin-top: 64px;
    font-size: 12px;
    line-height: 14px;
    position: static;
  }
}
.c-jumbotron .c-label p {
  position: relative;
  width: 73px;
  height: 14px;
  bottom: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: grid;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
}
.c-jumbotron h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin: 0 auto;
  color: #FFFFFF;
  position: relative;
  bottom: 100px;
}
@media (max-width: 599px) {
  .c-jumbotron h1 {
    font-size: 30px;
    line-height: 36px;
    margin-left: 20px;
    margin-right: 20px;
    position: static;
  }
}

/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
.c-about {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 111px;
  margin-left: 75px;
  margin-right: 75px;
}
@media (max-width: 599px) {
  .c-about {
    margin-left: 25px;
    margin-right: 25px;
    grid-template-columns: none;
    grid-template-rows: 1.5fr 1fr;
    display: block;
  }
}
.c-about-text-container {
  display: grid;
  align-items: center;
  width: 100%;
  height: 321px;
}
@media (max-width: 599px) {
  .c-about-text-container {
    height: auto;
  }
}
.c-about-text-container p {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #565656;
}
.c-about-img-wrapper {
  display: grid;
  align-self: center;
  justify-self: end;
}
.c-about-img-wrapper img {
  width: 440px;
  height: 248px;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.14)), drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.12)), drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
  border-radius: 12px;
}
@media (max-width: 599px) {
  .c-about-img-wrapper img {
    width: 100%;
  }
}

.c-about-block {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-self: center;
  position: relative;
  bottom: 60px;
  margin: 0 auto;
  width: 1300px;
  height: 123px;
  background-image: url("/Project Softuni/img/section.svg ");
}
@media (max-width: 599px) {
  .c-about-block {
    background-image: url("/Project Softuni/img/card_mobile.svg ");
    grid-template-rows: auto auto;
    grid-template-columns: none;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 341px;
    height: 568px;
  }
}
@media (max-width: 599px) {
  .c-about-block-button-wrapper {
    display: grid;
    width: 341px;
    margin-top: 46px;
  }
}
.c-about-block-button {
  display: grid;
  align-self: center;
  padding: 14px 32px;
  margin: 32px 64px;
  width: 163px;
  height: 48px;
  border: 0;
  background: #FF9100;
  /* 4 dp - buttons */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}
@media (max-width: 599px) {
  .c-about-block-button {
    margin: 0 auto;
    width: 287px;
    height: 52px;
    align-self: normal;
  }
}
.c-about-block-button p {
  height: 20px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 0px;
}
@media (max-width: 599px) {
  .c-about-block-button p {
    display: grid;
  }
}

.c-about-block-extra {
  grid-template-columns: auto auto;
  height: 100%;
  display: grid;
  grid-column-gap: 24px;
}
.c-about-block-extra:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 24px;
  left: 604px;
  top: 364px;
  background: #F1F1F1;
}
@media (max-width: 599px) {
  .c-about-block-extra {
    justify-items: flex-start;
    grid-template-columns: auto 1fr;
  }
}
.c-about-block-extra-icon {
  display: grid;
  align-self: center;
  height: 100%;
  width: 32px;
}
@media (max-width: 599px) {
  .c-about-block-extra-icon {
    margin-right: 24px;
  }
}
.c-about-block-extra-text-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 6px;
  width: auto;
}
@media (max-width: 599px) {
  .c-about-block-extra-text-wrapper {
    width: fit-content;
  }
}
.c-about-block-extra-text-wrapper .c-about-block-extra-title {
  align-self: center;
  margin: 0;
}
.c-about-block-extra-text-wrapper .c-about-block-extra-title p {
  height: 22px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  display: flex;
  align-items: center;
  color: #565656;
}
.c-about-block-extra-text-wrapper .c-about-block-extra-text p {
  height: 24px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  display: flex;
  align-items: center;
  color: #FF9100;
}

.c-about-block-extra-wrapper {
  display: grid;
  align-self: center;
  grid-template-columns: auto auto auto auto;
  width: 100%;
}
@media (max-width: 599px) {
  .c-about-block-extra-wrapper {
    margin-left: 24px;
    grid-row-gap: 40px;
    grid-template-columns: none;
    grid-template-rows: auto auto auto auto;
  }
}

.c-about-block-wrapper {
  position: relative;
}

.c-more-info {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  justify-self: center;
}
@media (max-width: 599px) {
  .c-more-info {
    grid-template-columns: none;
    grid-template-rows: auto auto auto;
  }
}

.c-more-info-wrapper {
  padding-top: 96px;
  display: grid;
}

.c-more-info-img-wrapper {
  display: grid;
  width: 10px;
  justify-self: center;
}

.c-more-info-card-wrapper {
  display: grid;
}
.c-more-info-card-wrapper-left {
  margin-left: 75px;
}
@media (max-width: 599px) {
  .c-more-info-card-wrapper-left {
    margin: 0 20px;
  }
}
.c-more-info-card-wrapper-right {
  margin-right: 75px;
}
@media (max-width: 599px) {
  .c-more-info-card-wrapper-right {
    margin: 0 20px;
  }
}

.c-more-info-title-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
}
.c-more-info-title-wrapper p {
  width: 488px;
}

@media (max-width: 599px) {
  .c-more-info-img-wrapper {
    width: 100%;
    justify-self: center;
  }
}
@media (max-width: 599px) {
  .c-more-info-img-wrapper-dots-for-desktop {
    display: none;
  }
}
.c-more-info-img-wrapper-dots-for-mobile {
  display: grid;
  justify-self: center;
  margin: 32px 0;
}
@media (min-width: 1200px) {
  .c-more-info-img-wrapper-dots-for-mobile {
    display: none;
  }
}

/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
.c-program {
  width: 100%;
  height: 554px;
  margin-top: 60px;
  background-image: url("/Project Softuni/img/card.svg");
  position: relative;
  display: grid;
}
@media (max-width: 599px) {
  .c-program {
    height: auto;
  }
}

.c-program-title-wrapper {
  display: grid;
  grid-template-columns: 35px 1fr;
  justify-items: start;
  margin-left: 75px;
  padding-top: 60px;
}
@media (max-width: 599px) {
  .c-program-title-wrapper {
    margin-left: 0px;
    padding-top: 0px;
  }
}
.c-program-title-wrapper-img-desktop {
  height: 24px;
  width: 32px;
  background: linear-gradient(0deg, #FD5900 0%, #FFDE00 100%);
  display: flex;
  align-self: center;
}
.c-program-title-wrapper h1 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #565656;
  margin-left: 30px;
}

.c-program-content-wrapper {
  display: grid;
  grid-template-columns: 675px;
  grid-template-rows: auto;
  margin-left: 138px;
}
@media (max-width: 599px) {
  .c-program-content-wrapper {
    grid-template-columns: none;
    margin: 20px 0;
  }
}
.c-program-content-wrapper p {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #565656;
}
.c-program-content-wrapper h1 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #565656;
}

.c-program-input {
  background: #FFFFFF;
  border-radius: 6px;
  height: 50px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 100%;
  color: #565656;
}

.c-program-input-wrapper {
  position: relative;
  margin-bottom: 16px;
}
.c-program-input-wrapper img {
  position: absolute;
  top: 22px;
  right: 20px;
}
.c-program-input-wrapper-last {
  position: relative;
  margin-bottom: 64px;
}
.c-program-input-wrapper-last img {
  position: absolute;
  top: 22px;
  right: 20px;
}

.c-program-img-wrapper {
  position: absolute;
  top: 250px;
  right: 137px;
}
@media (max-width: 599px) {
  .c-program-img-wrapper {
    display: none;
  }
}

.c-program-general-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
.c-certificate {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 75px;
}
@media (max-width: 599px) {
  .c-certificate {
    display: none;
  }
}

.c-certificate-title-wrapper h1 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  margin-left: 32px;
  color: #565656;
}
.c-certificate-title-wrapper p {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-left: 64px;
  color: #565656;
}

.c-certificate-title {
  display: grid;
  grid-template-columns: 35px 1fr;
  justify-items: start;
  padding-top: 60px;
}
.c-certificate-title img {
  width: 32px;
  height: 32px;
  display: grid;
  align-self: center;
}

.c-certificate-img-wrapper {
  width: 363px;
  height: 256px;
  border-radius: 12px;
  justify-self: end;
  margin-right: 153px;
  background-image: url("/Project Softuni/img/certificate.svg");
  background-repeat: no-repeat;
  display: grid;
}
.c-certificate-img-wrapper h1 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: grid;
  align-items: center;
  text-align: center;
  color: #565656;
}

/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
.c-info {
  display: grid;
  grid-template-columns: 2fr 20px 2fr;
  margin-left: 75px;
  margin-right: 75px;
  grid-column-gap: 32px;
  margin-top: 106px;
}
@media (max-width: 599px) {
  .c-info {
    grid-template-columns: none;
    grid-template-rows: 2fr 30px 2fr;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.c-info-content-title {
  display: grid;
  grid-template-columns: 35px 1fr;
  justify-items: start;
}
@media (max-width: 599px) {
  .c-info-content-title {
    justify-items: center;
  }
}
.c-info-content-title h1 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-left: 31px;
  color: #565656;
}
@media (max-width: 599px) {
  .c-info-content-title h1 {
    margin-left: 0px;
  }
}

.c-info-content {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #565656;
}
.c-info-content p {
  margin-left: 64px;
}
@media (max-width: 599px) {
  .c-info-content p {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 599px) {
  .c-info-content-img-desktop {
    display: none;
  }
}
.c-info-content-img-mobile {
  display: grid;
  justify-self: centermobimob;
}
@media (min-width: 1200px) {
  .c-info-content-img-mobile {
    display: none;
  }
}

/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
.c-footer {
  margin-top: 148px;
}
@media (max-width: 599px) {
  .c-footer {
    height: 100%;
  }
}

.c-footer-top-bar {
  width: 100%;
  height: 12px;
  background: #919191;
}

.c-footer-content {
  height: 312px;
  background: #565656;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 78px;
}
@media (max-width: 599px) {
  .c-footer-content {
    grid-template-rows: auto auto;
    grid-column-gap: 52px;
    grid-template-columns: 1fr 1fr;
    padding-top: 52px;
    height: auto;
  }
}

.c-footer-content-list {
  margin: auto 0;
}
@media (max-width: 599px) {
  .c-footer-content-list {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.c-footer-content-list h1 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.c-footer-content-list-logo {
  margin-top: 24px;
  margin-right: 30px;
}
.c-footer-content-list p {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #919191;
  margin-top: 48px;
}

.c-footer-content-img {
  padding-left: 300px;
}
@media (max-width: 599px) {
  .c-footer-content-img {
    display: none;
  }
}
.c-footer-content-img img {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 75px;
}

.c-footer-content-list-and-items {
  display: inline-grid;
  grid-template-columns: 2fr 6fr;
  grid-column-gap: 24px;
  width: 100%;
  padding-left: 0px;
  margin: 0;
}
@media (max-width: 599px) {
  .c-footer-content-list-and-items {
    grid-template-columns: none;
  }
}
.c-footer-content-list-and-items li {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: #E6E6E6;
}

.c-about-block-extra-icon {
  height: 100%;
  width: 32px;
  align-self: center;
}
.c-about-block-extra-icon img {
  align-self: center;
}

/* ==========================================================================
   #CLEARFIX-UTILITY
   ========================================================================== */
.u-clearfix:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

/* ==========================================================================
   #TEXT-UTILITIES
   ========================================================================== */
.u-text-upper {
  text-transform: uppercase !important;
}

.u-text-right {
  text-align: right !important;
}

.u-color-dark {
  color: #000 !important;
}

/*# sourceMappingURL=main.css.map */
