/* ==========================================================================
   #CONFIG-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #ANIMATIONS-TRANSITIONS-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #SPACING-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* ==========================================================================
   #Z-LAYERS-VARIABLES
   ========================================================================== */
@import '../../node_modules/normalize.css/normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.is-blocked, body.is-modal-open, body.is-gradpanel-open {
  overflow: hidden;
}
body.is-nav-mobile-open {
  overflow: hidden;
}
@media (min-width: 61.25em) {
  body.is-nav-mobile-open {
    overflow: visible;
  }
}

html {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* ==========================================================================
   #CONTAINER-OBJECT
   ========================================================================== */
.o-container {
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 46.25em) {
  .o-container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 61.25em) {
  .o-container {
    padding-right: 24px;
    padding-left: 24px;
  }
}

/* ==========================================================================
   #WRAPPER-OBJECT
   ========================================================================== */
.o-wrapper {
  flex: 1 0 auto;
  overflow: visible;
}

/* ==========================================================================
   #MODAL-OBJECT
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
.o-about-trainer-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media (max-width: 599px) {
  .o-about-trainer-card {
    grid-template-columns: none;
    grid-template-rows: 1fr 3fr;
    margin: 0 20px;
  }
}
.o-about-trainer-card-img-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 599px) {
  .o-about-trainer-card-img-wrapper {
    grid-template-columns: none;
    justify-content: center;
  }
}
.o-about-trainer-card-text-wrapper-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #41BEAD;
}
@media (max-width: 599px) {
  .o-about-trainer-card-text-wrapper-title {
    text-align: center;
  }
}
.o-about-trainer-card-text-wrapper-secondary-title {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #B2B2B2;
}
@media (max-width: 599px) {
  .o-about-trainer-card-text-wrapper-secondary-title {
    text-align: center;
  }
}
.o-about-trainer-card-text-wrapper-text {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #565656;
}

.o-trainer-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 96px 188px;
  grid-row-gap: 64px;
}
@media (max-width: 599px) {
  .o-trainer-card-container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    margin: 64px 0px;
  }
}

.o-trainer-card {
  display: grid;
}
.o-trainer-card-img-container {
  display: grid;
  justify-items: center;
  position: relative;
}
.o-trainer-card-img-container:hover-hover {
  opacity: 1;
}
.o-trainer-card-img-container img {
  border-radius: 50%;
}
.o-trainer-card-img-container img:hover {
  background: #FF9100;
  opacity: 0.8;
}
.o-trainer-card-img-container-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #FF9100;
}
.o-trainer-card-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 24px;
  text-align: center;
  color: #41BEAD;
}
.o-trainer-card-secondary-title {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0px;
  text-align: center;
  color: #B2B2B2;
}

.o-map-info-card-one-column-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #41BEAD;
}
.o-map-info-card-two-columns-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #41BEAD;
}
.o-map-info-card-two-columns-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.o-map-info-card-two-columns-list-key {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FF9100;
}
.o-map-info-card-two-columns-list-value {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #565656;
}

.o-contacts-footer-jumbotron-data-card-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #41BEAD;
}
.o-contacts-footer-jumbotron-data-card-content {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #565656;
}

.o-about-trainer-bottom-dots {
  display: grid;
}
.o-about-trainer-bottom-dots-desktop {
  display: grid;
  justify-self: center;
}
@media (max-width: 599px) {
  .o-about-trainer-bottom-dots-desktop {
    display: none;
  }
}
.o-about-trainer-bottom-dots-mobile {
  display: none;
}
@media (max-width: 599px) {
  .o-about-trainer-bottom-dots-mobile {
    display: block;
  }
}

/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #ANIMATIONS-TRANSITIONS-VARIABLES
   ========================================================================== */
.c-navbar {
  display: flex;
  grid-template-columns: auto auto auto;
  justify-content: flex-start;
  width: 100%;
  height: 74px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}
@media (max-width: 599px) {
  .c-navbar {
    justify-content: space-between;
    padding: 0 20px;
    display: grid;
  }
  .c-navbar ul {
    display: none !important;
  }
  .c-navbar .c-search {
    display: none;
  }
}
.c-navbar .container {
  width: 100%;
}
.c-navbar-logo-wrapper {
  margin-left: 75px;
  margin-right: auto;
  display: flex;
}
@media (max-width: 599px) {
  .c-navbar-logo-wrapper {
    display: grid;
    justify-self: center;
    grid-template-columns: auto auto;
    justify-items: center;
    margin-left: 0px;
  }
}
.c-navbar-logo-wrapper .c-triangle {
  align-self: center;
}
.c-navbar-logo-wrapper .c-logo {
  display: grid;
  align-self: center;
}
@media (max-width: 599px) {
  .c-navbar-logo-wrapper .c-logo {
    margin-left: 14px;
  }
}
.c-navbar-search {
  margin-right: 32px;
}
@media (max-width: 599px) {
  .c-navbar-search {
    margin: auto;
  }
}
.c-navbar-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  align-content: flex-end;
}
.c-navbar-list-item {
  padding: 29px 12px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  color: #565656;
  flex: none;
  order: 0;
  align-self: center;
  margin-right: 25px;
}
.c-navbar-list-item:hover {
  color: #FF9100;
}
.c-navbar-buttons-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-self: end;
}
.c-navbar-buttons-wrapper-login-button {
  background-color: #FF9100;
  color: white;
  display: grid;
  align-self: center;
  margin-right: 75px;
  padding: 10px 22px;
  width: 82px;
  height: 36px;
  transition: background-color 1s, color ease-out;
  border: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}
.c-navbar-buttons-wrapper-login-button:hover {
  color: #FF9100;
  background-color: white;
  border: 1px solid #FF9100;
}
@media (max-width: 599px) {
  .c-navbar-buttons-wrapper-login-button {
    margin: 0;
  }
}
.c-navbar-buttons-wrapper-navbar-burger {
  display: none;
}
@media (max-width: 599px) {
  .c-navbar-buttons-wrapper-navbar-burger {
    display: grid;
    align-self: center;
    margin-left: 24px;
  }
}

/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #ANIMATIONS-TRANSITIONS-VARIABLES
   ========================================================================== */
.c-jumbotron-blue {
  width: 100%;
  height: 302px;
  background: #44A9F8;
  display: grid;
  align-self: auto;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}
.c-jumbotron-blue-label {
  padding: 4px 8px;
  width: 89px;
  height: 22px;
  justify-self: center;
  background: #FFC20A;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 599px) {
  .c-jumbotron-blue-label {
    margin-top: 64px;
    font-size: 12px;
    line-height: 14px;
    position: static;
  }
}
.c-jumbotron-blue-label p {
  position: relative;
  width: 73px;
  height: 14px;
  bottom: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: grid;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
}
.c-jumbotron-blue h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin: 0 auto;
  color: #FFFFFF;
  position: relative;
  bottom: 100px;
}
@media (max-width: 599px) {
  .c-jumbotron-blue h1 {
    font-size: 30px;
    line-height: 36px;
    margin-left: 20px;
    margin-right: 20px;
    position: static;
  }
}
.c-jumbotron-orange {
  width: 100%;
  height: 256px;
  background-color: #FFB402;
  color: white;
  display: grid;
}
@media (max-width: 599px) {
  .c-jumbotron-orange {
    min-height: 375px;
  }
}
.c-jumbotron-orange h1 {
  padding-top: 64px;
  margin: 0;
  justify-self: center;
}
@media (max-width: 599px) {
  .c-jumbotron-orange h1 {
    padding-top: 0px;
    align-self: center;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    align-items: center;
    text-align: center;
    color: white;
  }
}
.c-jumbotron-orange p {
  justify-self: center;
  text-align: center;
  padding-bottom: 64px;
  width: 60%;
}
@media (max-width: 599px) {
  .c-jumbotron-orange p {
    padding-bottom: 0px;
    width: auto;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: white;
  }
}
.c-jumbotron-footer-trainer-blue {
  min-height: 400px;
  background-color: #66B9F8;
  display: grid;
}
@media (max-width: 599px) {
  .c-jumbotron-footer-trainer-blue {
    min-height: 665px;
  }
}
.c-jumbotron-footer-trainer-blue-text-container {
  display: grid;
  justify-self: center;
  grid-template-rows: auto 1fr 1fr;
}
@media (max-width: 599px) {
  .c-jumbotron-footer-trainer-blue-text-container {
    grid-template-rows: 1fr 1fr 4fr;
    grid-row-gap: 48px;
  }
}
.c-jumbotron-footer-trainer-blue-text-container-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  justify-self: center;
  margin-top: 64px;
}
@media (max-width: 599px) {
  .c-jumbotron-footer-trainer-blue-text-container-title {
    margin: 0px 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    align-self: center;
    color: white;
  }
}
.c-jumbotron-footer-trainer-blue-text-container-secondary-title {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  justify-self: center;
}
@media (max-width: 599px) {
  .c-jumbotron-footer-trainer-blue-text-container-secondary-title {
    margin: 0px 20px;
    height: min-content;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: white;
  }
}
.c-jumbotron-footer-trainer-blue-text-container-input-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 32px;
  height: 52px;
  justify-items: center;
}
@media (max-width: 599px) {
  .c-jumbotron-footer-trainer-blue-text-container-input-container {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 36px;
    margin: 0 20px;
  }
}
.c-jumbotron-footer-trainer-blue-text-container-input-container-input {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  height: 52px;
  background-color: #66B9F8;
  color: white;
}
@media (max-width: 599px) {
  .c-jumbotron-footer-trainer-blue-text-container-input-container-input {
    width: 100%;
  }
}
.c-jumbotron-footer-trainer-blue-text-container-input-container-submit {
  width: 146px;
  border: 0;
  color: white;
  text-transform: uppercase;
  background: #FF9100;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}
@media (max-width: 599px) {
  .c-jumbotron-footer-trainer-blue-text-container-input-container-submit {
    background: #FF9100;
    width: 100%;
    height: 48px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    color: #FFFFFF;
  }
}
.c-jumbotron-footer-contacts-yellow {
  background: #FFF8E1;
  height: 572px;
  padding: 96px 0;
}
.c-jumbotron-footer-contacts-yellow-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-align: center;
  color: #41BEAD;
}
.c-jumbotron-footer-contacts-yellow-info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 48px 75px 0;
}
.c-jumbotron-map img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  z-index: -1;
  position: relative;
}
.c-jumbotron-map-content {
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: absolute;
  z-index: 1;
  top: 200px;
  max-width: 520px;
  left: 75px;
  padding: 32px;
  display: grid;
}
.c-jumbotron-map-content-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.c-jumbotron-map-content-button {
  display: grid;
  justify-self: center;
  height: 52px;
  margin-top: 32px;
}
.c-jumbotron-map-content-button button {
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #FF9100;
  box-sizing: border-box;
  border-radius: 100px;
  color: #FF9100;
  background: #FFFFFF;
  /* 1 dp */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin: 0 auto;
  transition: background-color 1s, color ease-out;
}
.c-jumbotron-map-content-button button:hover {
  color: white;
  background-color: #FF9100;
}

/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
.c-about {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 111px;
  margin-left: 75px;
  margin-right: 75px;
}
@media (max-width: 599px) {
  .c-about {
    margin-left: 25px;
    margin-right: 25px;
    grid-template-columns: none;
    grid-template-rows: 1.5fr 1fr;
    display: block;
  }
}
.c-about-text-container {
  display: grid;
  align-items: center;
  width: 100%;
  height: 321px;
}
@media (max-width: 599px) {
  .c-about-text-container {
    height: auto;
  }
}
.c-about-text-container-text {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #565656;
}
.c-about-img-wrapper {
  display: grid;
  align-self: center;
  justify-self: end;
}
.c-about-img-wrapper-img {
  width: 440px;
  height: 248px;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.14)), drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.12)), drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
  border-radius: 12px;
}
@media (max-width: 599px) {
  .c-about-img-wrapper-img {
    width: 100%;
  }
}
.c-about-block {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-self: center;
  position: relative;
  bottom: 60px;
  margin: 0 auto;
  width: 1300px;
  height: 123px;
  background-image: url("/Project Softuni/img/section.svg ");
}
.c-about-block-wrapper {
  position: relative;
}
@media (max-width: 599px) {
  .c-about-block {
    background-image: url("/Project Softuni/img/card_mobile.svg ");
    grid-template-rows: auto auto;
    grid-template-columns: none;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 341px;
    height: 568px;
  }
}
@media (max-width: 599px) {
  .c-about-block-button-wrapper {
    display: grid;
    width: 341px;
    margin-top: 46px;
  }
}
.c-about-block-button {
  display: grid;
  align-self: center;
  padding: 14px 32px;
  margin: 32px 64px;
  width: 163px;
  height: 48px;
  border: 0;
  background: #FF9100;
  /* 4 dp - buttons */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  transition: background-color 1s, color ease-out;
}
.c-about-block-button:hover {
  background-color: white;
  border: 1px solid #FF9100;
}
.c-about-block-button:hover p {
  color: #FF9100;
}
@media (max-width: 599px) {
  .c-about-block-button {
    margin: 0 auto;
    width: 287px;
    height: 52px;
    align-self: normal;
  }
}
.c-about-block-button p {
  height: 20px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 0px;
}
@media (max-width: 599px) {
  .c-about-block-button p {
    display: grid;
  }
}
.c-about-block-extra {
  grid-template-columns: auto auto;
  height: 100%;
  display: grid;
  grid-column-gap: 24px;
}
.c-about-block-extra:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 24px;
  left: 604px;
  top: 364px;
  background: #F1F1F1;
}
@media (max-width: 599px) {
  .c-about-block-extra {
    justify-items: flex-start;
    grid-template-columns: auto 1fr;
  }
}
.c-about-block-extra-icon {
  display: grid;
  align-self: center;
  height: 100%;
  width: 32px;
  align-items: center;
}
@media (max-width: 599px) {
  .c-about-block-extra-icon {
    margin-right: 24px;
  }
}
.c-about-block-extra-text-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 6px;
  width: auto;
}
@media (max-width: 599px) {
  .c-about-block-extra-text-wrapper {
    width: fit-content;
  }
}
.c-about-block-extra-text-wrapper .c-about-block-extra-title {
  align-self: center;
  margin: 0;
}
.c-about-block-extra-text-wrapper .c-about-block-extra-title p {
  height: 22px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  display: flex;
  align-items: center;
  color: #565656;
}
.c-about-block-extra-text-wrapper .c-about-block-extra-text p {
  height: 24px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  display: flex;
  align-items: center;
  color: #FF9100;
}
.c-about-block-extra-wrapper {
  display: grid;
  align-self: center;
  grid-template-columns: auto auto auto auto;
  width: 100%;
}
@media (max-width: 599px) {
  .c-about-block-extra-wrapper {
    margin-left: 24px;
    grid-row-gap: 40px;
    grid-template-columns: none;
    grid-template-rows: auto auto auto auto;
  }
}
.c-about-trainers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  margin: 96px 75px;
}
@media (max-width: 599px) {
  .c-about-trainers {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    margin: 48px 0 0 0;
  }
}

.c-more-info {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  justify-self: center;
}
@media (max-width: 599px) {
  .c-more-info {
    grid-template-columns: none;
    grid-template-rows: auto auto auto;
  }
}
.c-more-info-wrapper {
  padding-top: 96px;
  display: grid;
}
.c-more-info-img-wrapper {
  display: grid;
  width: 10px;
  justify-self: center;
}
.c-more-info-card-wrapper {
  display: grid;
}
.c-more-info-card-wrapper-left {
  margin-left: 75px;
}
@media (max-width: 599px) {
  .c-more-info-card-wrapper-left {
    margin: 0 20px;
  }
}
.c-more-info-card-wrapper-right {
  margin-right: 75px;
}
@media (max-width: 599px) {
  .c-more-info-card-wrapper-right {
    margin: 0 20px;
  }
}
.c-more-info-title-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
}
.c-more-info-title-wrapper p {
  width: 488px;
}
@media (max-width: 599px) {
  .c-more-info-img-wrapper {
    width: 100%;
    justify-self: center;
  }
}
@media (max-width: 599px) {
  .c-more-info-img-wrapper-dots-for-desktop {
    display: none;
  }
}
.c-more-info-img-wrapper-dots-for-mobile {
  display: grid;
  justify-self: center;
  margin: 32px 0;
}
@media (min-width: 1200px) {
  .c-more-info-img-wrapper-dots-for-mobile {
    display: none;
  }
}

/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
.c-program {
  width: 100%;
  height: 554px;
  margin-top: 60px;
  background-image: url("/Project Softuni/img/card.svg");
  position: relative;
  display: grid;
}
@media (max-width: 599px) {
  .c-program {
    height: auto;
  }
}
.c-program-title-wrapper {
  display: grid;
  grid-template-columns: 35px 1fr;
  justify-items: start;
  margin-left: 75px;
  padding-top: 60px;
}
@media (max-width: 599px) {
  .c-program-title-wrapper {
    margin-left: 0px;
    padding-top: 0px;
  }
}
.c-program-title-wrapper-img-desktop {
  height: 24px;
  width: 32px;
  background: linear-gradient(0deg, #FD5900 0%, #FFDE00 100%);
  display: flex;
  align-self: center;
}
.c-program-title-wrapper h1 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #565656;
  margin-left: 30px;
}
.c-program-content-wrapper {
  display: grid;
  grid-template-columns: 675px;
  grid-template-rows: auto;
  margin-left: 138px;
}
@media (max-width: 599px) {
  .c-program-content-wrapper {
    grid-template-columns: none;
    margin: 20px 0;
  }
}
.c-program-content-wrapper p {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #565656;
}
.c-program-content-wrapper h1 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #565656;
}
.c-program-input {
  background: #FFFFFF;
  border-radius: 6px;
  height: 50px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 100%;
  color: #565656;
}
.c-program-input-wrapper {
  position: relative;
  margin-bottom: 16px;
}
.c-program-input-wrapper img {
  position: absolute;
  top: 22px;
  right: 20px;
}
.c-program-input-wrapper-last {
  position: relative;
  margin-bottom: 64px;
}
.c-program-input-wrapper-last img {
  position: absolute;
  top: 22px;
  right: 20px;
}
.c-program-img-wrapper {
  position: absolute;
  top: 250px;
  right: 137px;
}
@media (max-width: 599px) {
  .c-program-img-wrapper {
    display: none;
  }
}
.c-program-general-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
.c-certificate {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 75px;
}
@media (max-width: 599px) {
  .c-certificate {
    display: none;
  }
}
.c-certificate-title-wrapper h1 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  margin-left: 32px;
  color: #565656;
}
.c-certificate-title-wrapper p {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-left: 64px;
  color: #565656;
}
.c-certificate-title {
  display: grid;
  grid-template-columns: 35px 1fr;
  justify-items: start;
  padding-top: 60px;
}
.c-certificate-title img {
  width: 32px;
  height: 32px;
  display: grid;
  align-self: center;
}
.c-certificate-img-wrapper {
  width: 363px;
  height: 256px;
  border-radius: 12px;
  justify-self: end;
  margin-right: 153px;
  background-image: url("/Project Softuni/img/certificate.svg");
  background-repeat: no-repeat;
  display: grid;
}
.c-certificate-img-wrapper h1 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: grid;
  align-items: center;
  text-align: center;
  color: #565656;
}

/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
.c-info {
  display: grid;
  grid-template-columns: 2fr 20px 2fr;
  grid-column-gap: 32px;
  margin: 106px 75px 148px;
}
@media (max-width: 599px) {
  .c-info {
    grid-template-columns: none;
    grid-template-rows: 2fr 30px 2fr;
    margin-right: 20px;
    margin-left: 20px;
  }
}
.c-info-content-wrapper-title {
  display: grid;
  grid-template-columns: 35px 1fr;
  justify-items: start;
}
@media (max-width: 599px) {
  .c-info-content-wrapper-title {
    justify-items: center;
  }
}
.c-info-content-wrapper-title h1 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-left: 31px;
  color: #565656;
}
@media (max-width: 599px) {
  .c-info-content-wrapper-title h1 {
    margin-left: 0px;
  }
}
.c-info-content {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #565656;
}
.c-info-content p {
  margin-left: 64px;
}
@media (max-width: 599px) {
  .c-info-content p {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 599px) {
  .c-info-content-img-desktop {
    display: none;
  }
}
.c-info-content-img-mobile {
  display: grid;
}
@media (min-width: 1200px) {
  .c-info-content-img-mobile {
    display: none;
  }
}

/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
@media (max-width: 599px) {
  .c-footer {
    height: 100%;
  }
}
.c-footer-top-bar {
  width: 100%;
  height: 12px;
  background: #919191;
}
.c-footer-content {
  height: 312px;
  background: #565656;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 78px;
}
@media (max-width: 599px) {
  .c-footer-content {
    grid-template-rows: auto auto;
    grid-column-gap: 52px;
    grid-template-columns: 1fr 1fr;
    padding-top: 52px;
    height: auto;
  }
}
.c-footer-content-list {
  margin: auto 0;
}
@media (max-width: 599px) {
  .c-footer-content-list {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.c-footer-content-list h1 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.c-footer-content-list-logo {
  margin-top: 24px;
  margin-right: 30px;
}
.c-footer-content-list-logo:hover {
  filter: invert(7%) sepia(79%) saturate(1432%) hue-rotate(70deg) brightness(118%) contrast(300%);
  cursor: pointer;
}
.c-footer-content-list p {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #919191;
  margin-top: 48px;
}
.c-footer-content-list-and-items {
  display: inline-grid;
  grid-template-columns: 2fr 6fr;
  grid-column-gap: 24px;
  width: 100%;
  padding-left: 0px;
  margin: 0;
}
@media (max-width: 599px) {
  .c-footer-content-list-and-items {
    grid-template-columns: none;
  }
}
.c-footer-content-list-and-items li {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: #E6E6E6;
}
.c-footer-content-img {
  padding-left: 300px;
}
@media (max-width: 599px) {
  .c-footer-content-img {
    display: none;
  }
}
.c-footer-content-img img {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 75px;
}

/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #ANIMATIONS-TRANSITIONS-VARIABLES
   ========================================================================== */
.c-contact-us {
  margin-top: 180px;
  margin-bottom: 96px;
}
.c-contact-us-form {
  width: 60%;
  margin: 0 auto;
}
.c-contact-us-form-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  text-align: center;
  color: #41BEAD;
}
.c-contact-us-form-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  margin-top: 32px;
  margin-bottom: 30px;
}
.c-contact-us-form-content-input-small {
  border: 1px solid #919191;
  box-sizing: border-box;
  border-radius: 6px;
  height: 52px;
  transition: border 5s ease-out;
}
.c-contact-us-form-content-input-big {
  width: 100%;
  height: 200px;
  border: 1px solid #919191;
  box-sizing: border-box;
  border-radius: 6px;
}
.c-contact-us-form-button {
  background: #FF9100;
  /* 4 dp - buttons */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
  border: 0;
  height: 48px;
  min-width: 140px;
  margin-top: 32px;
  transition: background-color 1s, color ease-out;
}
.c-contact-us-form-button:hover {
  background-color: white;
  color: #FF9100;
  border: 1px solid #FF9100;
}

/* ==========================================================================
   #CLEARFIX-UTILITY
   ========================================================================== */
.u-clearfix:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

/* ==========================================================================
   #TEXT-UTILITIES
   ========================================================================== */
.u-text-upper {
  text-transform: uppercase !important;
}

.u-text-right {
  text-align: right !important;
}

.u-color-dark {
  color: #000 !important;
}

/*# sourceMappingURL=main.css.map */
