@import "../../01-settings/settings.typography";
@import "../../01-settings/settings.colors";

.c-about{

  display: grid;

  grid-template-columns: 1.5fr 1fr;

  grid-column-gap: 111px;


  margin-left:75px;
  margin-right: 75px;

  @include for-phone-only{

    margin-left:25px;
    margin-right: 25px;
    grid-template-columns: none;
    grid-template-rows: 1.5fr 1fr;

    display: block;


  }

  &-text-container{

    display: grid;
    align-items: center;

    width: 100%;
    height: 321px;

    @include for-phone-only{


      height: auto;

    }

    p{

      font-family: Lato,sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;

      color: $grey-700;
    }
  }

  &-img-wrapper{


    display: grid;
    align-self: center;
    justify-self: end;

    img{

      width: 440px;
      height: 248px;

      filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.14)), drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.12)), drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
      border-radius: 12px;

      @include for-phone-only{

        width: 100%;

      }


    }
  }
}


.c-about-block {

  display: grid;

  grid-template-columns: 1fr 3fr;

  align-self: center;

  position: relative;

  bottom: 60px;
  margin: 0 auto;


  width: 1300px;
  height: 123px;
  background-image: url("/Project Softuni/img/section.svg ");;

  @include for-phone-only{

    background-image: url("/Project Softuni/img/card_mobile.svg ");;

    grid-template-rows: auto auto;

    grid-template-columns: none;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 341px;
    height: 568px;

  }

  &-button-wrapper{

    @include for-phone-only {
      display: grid;
      width: 341px;
      margin-top: 46px;
    }
  }

  &-button {

    display: grid;

    align-self: center;

    padding: 14px 32px;
    margin: 32px 64px;

    width: 163px;
    height: 48px;

    border: 0;
    background: $secondary-800;
    /* 4 dp - buttons */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 100px;


    @include for-phone-only{

      margin: 0 auto;
      width: 287px;
      height: 52px;

      align-self: normal;

    }



    p{


      height: 20px;



      font-family: Lato,sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height, or 125% */
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;


      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 0px 0px;

      @include for-phone-only{

        display: grid;
      }
    }
  }
}

.c-about-block-extra {

  grid-template-columns: auto auto;
  height: 100%;

  &:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 24px;
    left: 604px;
    top: 364px;

    background: $grey-100;
  }

  display: grid;

  grid-column-gap: 24px;

  @include for-phone-only{

    justify-items: flex-start;
    grid-template-columns: auto 1fr;
  }


  &-icon {

    display: grid;
    align-self: center;

    height: 100%;
    width: 32px;

    @include for-phone-only{

      margin-right: 24px;

    }


  }


  &-text-wrapper {

    display: grid;

    grid-template-rows: 1fr 1fr;

    grid-row-gap: 6px;

    width: auto;

    @include for-phone-only{

      width: fit-content;
    }

    .c-about-block-extra-title {

      align-self: center;


      margin: 0;

      p {

        height: 22px;


        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;

        margin: 0;

        display: flex;
        align-items: center;

        color: $grey-700;
      }
    }


    .c-about-block-extra-text {


      p {

        height: 24px;

        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;

        margin: 0;

        display: flex;
        align-items: center;

        color: $secondary-800;
      }
    }
  }

}
.c-about-block-extra-wrapper {

  display: grid;

  align-self: center;



  grid-template-columns: auto auto auto auto;

  width: 100%;

  @include for-phone-only{

    //grid-template-rows: auto auto auto auto;
    //justify-items: flex-start;
    //grid-row-gap: 40px;

    margin-left: 24px;

    grid-row-gap: 40px;

    grid-template-columns: none;

    grid-template-rows: auto auto auto auto;

  }

}
.c-about-block-wrapper{


  position: relative;
}



